@charset "UTF-8";
* {
  margin: 0;
}

body {
  background: #ffffff;
}

@font-face {
  font-family: 'Gotham Pro';
  src: local("../fonts/Gotham Pro Black"), local("Gotham-Pro-Black");
  src: url("../fonts/GothamPro-Black.woff2") format("woff2");
  src: url("../fonts/GothamPro-Black.woff") format("woff");
  src: url("../fonts/GothamPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.container {
  min-width: 1100px;
  margin: 0 auto;
}

h1 {
  font-family: 'Gotham Pro';
  font-size: 50px;
  color: #232323;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 24px;
}

h3, p, a {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #000000;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #232323;
  font-weight: 900;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
}

.header {
  background: url(../img/header-bg.jpg) no-repeat center top;
  background-size: cover;
  height: 100vh;
}

.header__container {
  height: 70px;
  margin: 0 auto;
  margin-left: 5%;
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding: 24px 70px 0px 0px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__burger {
  display: none;
}

.header__list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: end;
  width: 523px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #FFF;
  padding: 25px 0px;
}

.header__list li {
  list-style: none;
}

.header__link {
  text-decoration: none;
  color: #36678B;
}

.header__link:hover {
  padding-bottom: 23px;
  border-bottom: 3px solid #ffffff;
  color: #fff;
}

.header__btn {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  padding: 14px 20px;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
}

.header__btn:hover {
  background: #fff;
  color: #000;
}

.header__btn:hover svg path {
  fill: #000;
}

.btn__svg {
  margin-right: 14px;
}

.hero {
  width: 550px;
  padding-top: 170px;
  margin-left: 220px;
}

.hero__title {
  line-height: 156.2%;
}

.hero__title span {
  color: #ffffff;
  background-color: #000000;
  padding: 5px 10px 5px 10px;
}

.hero__subtitle {
  padding-top: 25px;
  padding-bottom: 42px;
  line-height: 156.69%;
}

.hero__btn {
  background: none;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 17px 47px;
}

.hero__btn::after {
  content: '';
  background-image: url(../img/down.svg);
}

@media screen and (max-width: 1124px) {
  .header__logo {
    padding: 24px 15px 0px 0px;
  }
  .hero {
    margin-left: 150px;
    padding-top: 130px;
  }
}

@media screen and (max-width: 1036px) {
  .header__btn {
    padding: 5px 15px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .header__btn {
    display: none;
  }
  .header__logo {
    padding: 24px 40px 0px 0px;
  }
  .hero {
    width: 350px;
    padding-top: 80px;
  }
  .hero__title {
    font-size: 30px;
  }
  .hero__subtitle {
    font-size: 14px;
  }
  .hero__btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 40px;
    margin-left: 80px;
  }
  body.lock {
    overflow: hidden;
  }
  .header__logo {
    padding: 0;
  }
  .header__menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__burger {
    z-index: 3;
    display: block;
    position: relative;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 20px;
  }
  .header__burger.active span {
    background-color: #000000;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::before {
    background-color: #000000;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    background-color: #000000;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__list {
    display: block;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px 0 0 0;
    position: fixed;
    right: -100%;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 30%;
    background: #fff;
    z-index: 2;
    padding: 65px 0px 0px 20px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__list.active {
    right: 0;
    opacity: 1;
  }
  .header__list li {
    margin-bottom: 25px;
  }
  .header__link:hover {
    color: #000000;
    font-weight: 600;
  }
}

@media screen and (max-width: 615px) {
  .hero {
    width: 220px;
    margin-left: 15px;
    padding-top: 20px;
  }
  .hero__title {
    font-size: 22px;
  }
  .hero__subtitle {
    width: 200px;
  }
}

.sidebar {
  width: 300px;
  float: right;
  padding: 20px 25px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.sidebar-subscribe {
  padding-top: 27px;
  padding-bottom: 16px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  position: relative;
  margin-bottom: 40px;
}

.sidebar-subscribe__img {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

.sidebar-subscribe__title {
  text-align: center;
}

.sidebar__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 16px;
}

.sidebar__svg {
  margin-right: 32px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sidebar__svg:last-child {
  margin-right: 0;
}

.sidebar__svg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sidebar__svg path:hover {
  fill: #94CDF9;
}

.sidebar__search {
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  position: relative;
}

.sidebar__search form {
  background: #ffffff;
  position: relative;
}

.sidebar__search input {
  border: none;
}

.sidebar__search input, .sidebar__search button {
  border: none;
  outline: none;
  background: transparent;
}

.sidebar__search input {
  width: 100%;
  height: 50px;
  padding-left: 15px;
}

.sidebar__search button {
  background: url(../img/search.png);
  height: 15px;
  width: 15px;
  position: absolute;
  top: 19px;
  right: 19px;
  cursor: pointer;
}

.sidebar-categories {
  margin-top: 30px;
  margin-bottom: 40px;
}

.sidebar-categories__title {
  font-size: 17px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
  color: #000;
}

.sidebar-categories__links {
  padding-top: 8px;
  padding-right: 70px;
}

.sidebar-categories__link {
  display: inline-table;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  color: #235E89;
  padding-top: 12px;
  padding-bottom: 3px;
  border-bottom: 1px dashed #235E89;
}

.sidebar-categories__link:hover {
  color: #000000;
  border-bottom: 1px dashed #000000;
}

.sidebar-img {
  background: url(../img/sidebar-img.png) no-repeat center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none;
  padding: 0px 25px;
  -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.15));
  border-radius: 5px;
}

.sidebar-img__title {
  padding-top: 18px;
  padding-bottom: 48px;
  font-family: 'Montserrat', sans-serif;
  font-size: 29px;
  line-height: 35px;
  text-align: center;
  color: #fff;
}

.sidebar-img__subtitle {
  padding-bottom: 18px;
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: relative;
  left: -32px;
}

.sidebar-img__subtitle::after {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../img/click.png");
  background-size: 32px 32px;
  position: absolute;
  right: -52px;
  top: 10px;
}

.sidebar-blog {
  padding-top: 40px;
}

.sidebar-blog__title {
  font-size: 17px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.sidebar-blog__news {
  padding: 20px 0px;
  border-bottom: 1px solid #d9d9d9;
}

.sidebar-news-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  line-height: 191.9%;
  color: #000;
  font-size: 14px;
}

.sidebar-news__img {
  padding-top: 5px;
}

.sidebar-news__title {
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 191.9%;
}

.sidebar-news__subtitle {
  padding-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: 300;
  line-height: 191.9%;
}

.sidebar-news__subtitle a {
  display: inline-block;
  color: #235E89;
  text-decoration: none;
  font-size: 14px;
}

.sidebar-news__subtitle a:hover {
  border-bottom: 1px solid #235E89;
}

.sidebar-news__link {
  display: block;
  text-decoration: none;
  text-align: end;
  color: #235E89;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.sidebar-news__link:hover {
  border-bottom: 1px solid #235E89;
}

.about {
  padding-left: 70px;
  margin-right: 230px;
  padding-top: 250px;
  background: url(../img/about-bg.png) no-repeat right bottom;
  padding-bottom: 150px;
}

.about__title {
  padding-left: 20px;
  line-height: 156.2%;
  padding-bottom: 30px;
}

.about-block {
  width: 552px;
  padding: 30px 33px;
  background-color: #A1C7E3;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 100px rgba(161, 199, 227, 0.4);
          box-shadow: 0px 0px 100px rgba(161, 199, 227, 0.4);
}

.about__subtitle {
  padding-bottom: 30px;
  line-height: 167.19%;
}

.about__link {
  padding-top: 10px;
  color: #0072CA;
  text-decoration: none;
}

.about__link:hover {
  border-bottom: 1px solid #0072CA;
}

.projects {
  padding-top: 100px;
  padding-bottom: 250px;
  padding-left: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__block {
  padding-left: 100px;
}

.projects__title {
  padding-bottom: 40px;
}

.projects__link {
  display: inline-block;
  line-height: 156.69%;
  font-size: 21px;
  color: #545454;
  font-family: 'Roboto', sans-serif;
}

.projects__link:hover {
  color: #000;
  border-bottom: 2px dashed #000;
  margin-bottom: -2px;
}

.projects__link.active {
  color: #000;
  border-bottom: 2px dashed #000;
  margin-bottom: -2px;
}

.projects__list li {
  cursor: pointer;
  list-style: none;
  padding-bottom: 50px;
}

.slider {
  position: relative;
}

.slider__items {
  width: 460px;
  height: 580px;
}

.slider__item {
  display: block;
  position: absolute;
  opacity: 0;
  left: -100%;
  top: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.slider__item.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  left: 0;
}

.slider__img {
  max-width: 100%;
  border-radius: 7px;
  -webkit-filter: drop-shadow(0px 4px 100px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 100px rgba(0, 0, 0, 0.25));
}

.blog {
  padding-left: 90px;
  padding-bottom: 100px;
}

.blog__title {
  line-height: 156.2%;
  padding-bottom: 20px;
}

.blog-block {
  cursor: pointer;
  width: 738px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.blog-block__img {
  -webkit-box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
  margin-right: 30px;
}

.blog-block__title {
  padding-top: 3px;
  padding-bottom: 8px;
}

.blog-block__subtitle {
  line-height: 149.19%;
  color: #676767;
}

.blog-block:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.blog-block:hover h2 {
  color: #0072CA;
}

.blog-block:hover p {
  color: #0072CA;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 250px;
}

.contacts-block__title {
  line-height: 156.2%;
  padding-bottom: 42px;
}

.contacts-block__subtitle {
  line-height: 139.69%;
  padding-bottom: 19px;
}

.contacts-block__link {
  line-height: 139.69%;
  color: #0072CA;
  text-decoration: none;
}

.contacts-block__link:hover {
  border-bottom: 1px solid #0072CA;
}

.contacts-block__icons {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-block__svg {
  margin-right: 32px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts-block__svg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contacts-block__svg path:hover {
  fill: #94CDF9;
}

.contacts-block__btn {
  margin-top: 43px;
  color: #0072CA;
  border: 1px solid #1386DE;
  border-radius: 4px;
  background: none;
  padding: 11px 17px;
}

.contacts-block__btn:hover {
  background: #1386DE;
  color: #fff;
}

.footer {
  background: url(../img/footer-bg.jpg) no-repeat center top;
  background-size: cover;
  padding-left: 89px;
  padding-right: 89px;
}

.footer__title {
  padding-top: 172px;
  line-height: 156.2%;
  padding-bottom: 28px;
}

.footer__form {
  width: 320px;
}

.footer__input {
  width: 100%;
  margin-bottom: 20px;
  background: none;
  border: 1px solid #000000;
  border-radius: 4px;
  height: 45px;
  padding-left: 22px;
}

.footer__input::-webkit-input-placeholder {
  color: #393939;
  font-size: 17px;
}

.footer__input:-ms-input-placeholder {
  color: #393939;
  font-size: 17px;
}

.footer__input::-ms-input-placeholder {
  color: #393939;
  font-size: 17px;
}

.footer__input::placeholder {
  color: #393939;
  font-size: 17px;
}

.footer__checkbox {
  width: 380px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 158.9%;
  padding-bottom: 29px;
}

.footer__checkbox a {
  text-decoration: none;
  color: #0072CA;
}

.footer__checkbox a:hover {
  border-bottom: 1px solid #0072CA;
}

.footer__btn {
  color: #0072CA;
  border: 1px solid #1386DE;
  border-radius: 4px;
  background: none;
  padding: 17px 45px;
  margin-bottom: 324px;
}

.footer__btn:hover {
  background: #1386DE;
  color: #fff;
}

.footer__line {
  width: 100%;
  border-bottom: 1px solid #000;
}

.footer__menu {
  padding-top: 68px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list li {
  list-style: none;
  padding-bottom: 21px;
}

.footer__list li:last-child {
  padding-bottom: 0;
}

.footer__link {
  text-decoration: none;
}

.footer__link:hover {
  border-bottom: 1px solid #000;
}

.footer__mail {
  color: #0072CA;
  text-decoration: none;
}

.footer__mail:hover {
  border-bottom: 1px solid #0072CA;
}

.footer-social__title {
  padding-bottom: 21px;
}

.footer-social svg path:hover {
  fill: #000000;
}

.footer__konf {
  text-align: center;
  width: 100%;
  color: #454545;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 9px;
}

.input-text {
  height: 183px;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  border: 1px solid #000000;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: relative;
}

.checkbox::before {
  content: "·";
  color: #000000;
  position: absolute;
  left: 4px;
  top: 2px;
  -webkit-transform: scale(7.3);
          transform: scale(7.3);
  opacity: 0;
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
}

.checkbox:checked::before {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */