.about
    padding-left: 70px
    padding-top: 250px
    background: url(../img/about-bg.png) no-repeat right bottom
    padding-bottom: 150px
    &__title
        padding-left: 20px
        line-height: 156.2%
        padding-bottom: 30px
    &-block
        width: 552px
        padding: 30px 33px
        background-color: #A1C7E3
        border-radius: 7px
        box-shadow: 0px 0px 100px rgba(161, 199, 227, 0.4)
    &__subtitle
        padding-bottom: 30px
        line-height: 167.19%
    &__link
        padding-top: 10px
        color: #0072CA
        text-decoration: none
        &:hover
            border-bottom: 1px solid #0072CA

@media screen and ( max-width: 1024px )
    .about
        &-block
            width: 400px

@media screen and ( max-width: 870px )
    .about
        padding-top: 100px
        padding-left: 15px
        &-block
            width: 300px
        &__subtitle
            font-size: 14px
