.projects
    padding-top: 100px
    padding-bottom: 250px
    padding-left: 90px
    display: flex
    align-items: center
    &__btn
        margin-top: 65px
        color: #0072CA
        border: 1px solid #1386DE
        border-radius: 4px
        background: none
        padding: 15px 35px
        &:hover
            background: #1386DE
            color: #fff
    &__block
        padding-left: 100px
    &__title
        padding-bottom: 40px
    &__link
        display: inline-block
        line-height: 156.69%
        font-size: 21px
        color: #545454
        font-family: 'Roboto', sans-serif
        
        &:hover 
            color: #000
            border-bottom: 2px dashed #000
            margin-bottom: -2px
        &.active
            color: #000
            border-bottom: 2px dashed #000
            margin-bottom: -2px
    &__list
        padding-left: 0
        & li
            cursor: pointer
            list-style: none 
            padding-bottom: 50px
                
.slider
    position: relative
    &__items
        width: 460px
        height: 580px
    &__item
        display: block
        position: absolute
        opacity: 0
        left: -100%
        top: 0
        transition: all 0.5s ease 0s
        transform: scale(0.7)
        &.active
            transform: scale(1)
            opacity: 1
            left: 0
    &__img
        max-width: 100%
        border-radius: 7px
        filter: drop-shadow(0px 4px 100px rgba(0, 0, 0, 0.25))


@media screen and ( max-width: 1024px )
    .projects
        padding-bottom: 100px
        align-items: start
        &__block
            padding-left: 30px
        &__title
            font-size: 30px
        &__link
            font-size: 18px
        &__list
            & li
                padding-bottom: 20px
        &__btn
            margin: 20px
    .slider
        &__items
            width: 200px
            height: 350px
@media screen and ( max-width: 870px )
    .projects
        padding-top: 0
        padding-left: 10px
        padding-bottom: 0
        &__link
            font-size: 12px
        &__btn
            font-size: 12px
    .slider
        &__item
            padding-top: 50px
@media screen and ( max-width: 425px )
    .projects
        width: 100px
        flex-wrap: wrap
        &__block
            padding-left: 10px
        &__title
            margin-top: 35px
            font-size: 24px
            padding-bottom: 10px
        &__link
            font-size: 10px
        &__list
            & li
                padding-bottom: 5px
    .slider
        &__item
            padding-top: 0
        &__items
            width: 150px
            height: 150px