@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Black'), local('Gotham-Pro-Black'),
        url('GothamPro-Black.woff2') format('woff2'),
        url('GothamPro-Black.woff') format('woff'),
        url('GothamPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }